#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: 
      'header'
      'main'
      'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

main {
  grid-area: main;
  padding: 1rem;
  margin-top: 40px;
}

footer {
  grid-area: footer;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  padding-bottom: 5rem;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

/* .card {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
} */



.card a {
  text-decoration: none;
  color: #000000;
}


.card__price {
  font-size: 2rem;
}

