.orderdetailsScreen__cardTitle {
    margin: 1rem;
}

.orderdetailsScreen__col-2{
    flex: 0.6;
    padding-top: 2rem;
    margin: 0 auto;
}

.orderdetailsScreen__col-1{
  flex: 0.3;
  padding-top: 2rem;
}

.orderdetailsScreen__loading {
    padding-top: 1rem;
}