.paymentmethodScreen__form {
  max-width: 60rem;
  margin: 5rem auto;
  padding-top: 1rem;
  background-color: #ebebeb;
  border: 0.1rem solid #cecece;
  border-radius: 0.3rem;
  padding: 1rem 3.5rem;
  font-family: Helvetica, sans-serif;
  align-content: center;
}

.paymentmethodScreen__form > div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.paymentmethodScreen__row {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
  }

  .paymentmethodScreen__row input {
      margin-left: 1rem;
  }

  .paymentmethodScreen__row label {
      margin-left: 1.6rem;
  }

.paymentmethodScreen__button {
  background-image: linear-gradient(to right, #f83600 55%, #f99523 100%);
  color: #ffffff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  font-size: 1.6rem;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paymentmethodScreen__button:hover {
  background-image: linear-gradient(to right, #f99523 55%, #f83600 100%);
  color: #000000;
  padding: 10px 15px;
  border: 1px solid #000000;
  cursor: pointer;
}
