.productScreen {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 0.25;
  margin: 40px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type:none;
}

.col-2 {
  flex: 0.5;
}

.col-3 {
  flex: 32 1 75rem;
}

.productScreen__button {
  background-image: linear-gradient(to right, #f83600 55%, #f99523 100%);
  color: #ffffff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  font-size: 1.6rem;
  font-family: Helvetica, sans-serif;  
}

.productScreen__button:hover {
  background-image: linear-gradient(to right, #f99523 55%, #f83600 100%);
  color: #000000;
  padding: 10px 15px;
  border: 1px solid #000000;
  cursor: pointer;
  
}

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
  padding: 1.3rem;
}

.price {
  font-size: 2rem;
}

.productScreen__countSuccess {
    color: #20a020;
}

.productScreen__countUnavailable {
    color: #a02020;
}

.productScreen__image {
    object-fit: contain;
    height: 600px;
    width: 100%;
    /* margin: 30px; */
    text-align: center;
  }